/* BASE STYLES */
/* ====================================== */

/*
  So you don't waste time figuring out which colours & fonts to use, we've provided a little CSS to help you get going. We have also imported normalize.css for you: https://necolas.github.io/normalize.css/

  If you want to use this stylesheet and these classes alongside your own CSS, then do. But don't feel you need to. Implement CSS using whichever system, directory structure, preprocessor, naming-convention etc you like.
*/

/*

/* Reset Styles */
* { box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Default spacing units: all revolve around a common factor of 6px */
.margin-none { margin: 0px; }
.margin-tiny { margin: 6px; }
.margin-small { margin: 12px; }
.margin-medium { margin: 24px; }
.margin-large { margin: 48px; }
.margin-huge { margin: 96px; }

.padding-none { padding: 0px; }
.padding-tiny { padding: 6px; }
.padding-small { padding: 12px; }
.padding-medium { padding: 24px; }
.padding-large { padding: 48px; }
.padding-huge { padding: 96px; }

/* Text Styles */
.fs-large { font-size: 20px; }
.fs-medium { font-size: 14px; }
.fs-small { font-size: 12px; }

.fw-regular { font-weight: 400; }
.fw-medium { font-weight: 500; }

/* Text colours & border styles */
.color-primary { color: rgba( 0, 0, 0, 0.85); }
.color-secondary { color: rgba( 0, 0, 0, 0.60); }
.color-tertiary { color: rgba( 0, 0, 0, 0.40); }

/* Background colors */
.bg-light-blue { background-color: #F1F9FB; }
.bg-grey { background-color: #f3f3f3; }
.bg-light-grey { background-color: #fcfcfc;}

/* UI Elements */
.default-border { border: 1px solid rgba( 0, 0, 0, 0.12)};
.card {
  border-radius: 2px;
  box-shadow: 1px 2px 2px rgba( 0, 0, 0, 0.16);
}
.avatar {
  width: 48px;
  border-radius: 48px;
}